body {
	background-color: black;
	color: white;
}

.sidesection {
	color: white;
	width: 35%;
	text-align: center;
	border: 1px solid white;
}
		
#left {
	float: left;
}

#right {
	float: right;
}

.sideimage {
	width:100%;
	height: 275px; 
}

.centersection {
	color: white;
	text-align: center;
	padding-top: 35px;
}

.header {
	font-family: "Sitka";
	font-size: 22px;
	letter-spacing: 2px;	
}
