body {
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
    color: gray;
}
a:active {
    color: gray;
}

.main-div {
	float: left;
	height: 100%;
	color: white;
}

.main-div-side {
	width: 35%;
}

.main-div-center {
	width: 29%;
	padding-top: 35px;
	text-align: center;
}

.header-div {
	border: 1px solid white;
	text-align: center;
	width: 100%;
}

.header-image {
	width: 100%;
	height: 275px; 
}

.header-title {
	font-size: 20px;
}

.text-div {
	padding: 50px;
	visibility: hidden;
}

.console {
	font-family: "Courier New", Courier, monospace;
}

.script {
	font-family: "Brush Script MT", cursive;	
	letter-spacing: 4px;	
}

#contact-link {
	margin-top: 60px;
	font-size: 22px;
}

.animation-typing {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 3px solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 20px auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}